.container {
    width: 350px;
    margin: auto;
    background-color: rgb(255, 168, 248);
    padding: 16px;
}

ul {
    list-style: none;
    padding: 10px;
}   

li {
    background: #f4f4f4;
    padding: 4px 15px;
    margin: 5px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}